/* CSS Theme */
:root {
  /* colors */
  --bg-color: #bde7fd;
  --primary-color: #ff4600;
  --text-color: black;
  --border-color: black;
  --box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Navbar */
.navbar-container {
  justify-content: space-between;
  padding: 16px 32px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.logo-name {
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

.line {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2rem;
}

/* nav items */
.nav-items {
  list-style: none;

  @media (max-width: 872px) {
    display: none;
  }
}

.nav-items a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-items a:hover {
  cursor: pointer;
}

.test {
  border: 2px solid black;
}

/* Hamburger Menu */
#hamburger-menu {
  display: none;
}

[for="hamburger-menu"] {
  display: none;

  @media (max-width: 872px) {
    display: block;
  }
}

.side-menu {
  display: none;
}

/* Hero Section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.hero-section {
  background-color: rgb(34, 97, 34);
  border-radius: 12px;
  max-height: 60vh;

  margin: 4rem 12px;
}

.intro-text {
  color: white;
  padding: 8px;
}

.download-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px 24px;
  margin-top: 2rem;
}

.download-btn:hover {
  cursor: pointer;
}

.profile-image {
  margin: -3rem;
}

.profile-image img {
  height: 100%;
  width: 80%;
}

/* Summary Section */
.summary-container {
  background-color: white;
  border-radius: 24px;
  border: 2px solid black;
  padding: 16px;
  justify-content: space-around;
  margin: 12px;
}

.summary-container i{
  color: var(--primary-color);
  font-size: 2rem;
}

.summary-container p{
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
}

.verticle-line{
  font-size: 30px;
}

/* Skill Section */
.skills-section {
  margin: 48px;
}

.skills-container {
  justify-content: space-around;
  padding: 24px;
  text-align: center;
}

.skills-container i {
  font-size: 48px;
}

.skills-container div {
  display: flex;
  flex-direction: column;
}

/* mobile only css */
/* side menu */
@media (max-width: 872px) {
  .side-menu {
    display: block;
    width: 250px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;

    position: absolute;
    top: 4rem;
    left: 100vw;

    transition: left 0.5s;
  }

  .side-menu-items {
    flex-direction: column;
    align-items: start;
    list-style: none;
  }

  .side-menu-items a {
    text-decoration: none;
    color: var(--text-color);
  }

  .side-menu-items a:hover {
    color: var(--primary-color);
  }

  #hamburger-menu:checked + .side-menu {
    left: calc(100vw - 250px);
  }

  /* Alternative approach */
  /* #hamburger-menu:checked + .side-menu {
    display: block;
  }

  #hamburger-menu:not(:checked) + .side-menu {
    display: none;
  } */
}
